backend/target/classes/application.properties
backend/src/main/resources/application.properties
frontend/node_modules
pricing-service/venv
__pycache__/
pricing-service/__pycache__/
backend/target/*.class

